<!-- <div>
    <h2>Your Cart</h2>
    <ul>
      <li *ngFor="let item of orderItems; let i = index">
        {{ item.itemName }} - ${{ item.price }} 
        <button (click)="removeItem(i)">Remove</button>
      </li>
    </ul>
    <h3>Total Price: ${{ totalPrice }}</h3>
    <button (click)="placeOrder()">Place Order</button>
</div> -->
<div class="bg-red-100 w-screen h-screen ">
<div class="bg-gray-100 p-8 h-full">
  <div class="max-w-md mx-auto bg-white p-4 rounded-lg shadow-md">
      <ul>
        <li *ngFor="let item of orderItems; let i = index">
          <div class="flex justify-between items-center mb-4">
              <span class="text-gray-800"> {{ item.itemName }} </span>
              <button (click)="removeItem(i)"><i class="fas fa-light fa-trash-can"></i></button>
              <span class="text-gray-800">₹{{ item.price }} </span>
          </div>
        </li>
      </ul>
      <div class="bg-gray-100 p-4 rounded-lg mb-4">
          <p class="text-gray-500">Any suggestions? We will pass it on...</p>
      </div>
      <div class="flex items-start mb-4">
          <input type="checkbox" class="mt-1 mr-2">
          <div>
              <p class="text-gray-800">Opt in for No-contact Delivery</p>
              <p class="text-gray-500 text-sm">Unwell, or avoiding contact? Please select no-contact delivery. Partner will safely place the order outside your door (not for COD)</p>
          </div>
      </div>
      <div class="w-full text-center border border-dashed border-gray-400 text-gray-800 py-2 rounded-lg mb-4">Apply Coupon</div>
      <div class="border-t border-gray-200 pt-4">
          <p class="text-gray-800 mb-2">Bill Details</p>
          <div class="flex justify-between mb-2">
              <span class="text-gray-800">Item Total</span>
              <span class="text-gray-800">₹{{ totalPrice }}</span>
          </div>
          <div class="flex justify-between mb-2">
              <span class="text-gray-800">Delivery Fee | 3.9 kms <i class="fas fa-info-circle text-gray-500"></i></span>
              <span class="text-gray-800">₹0</span>
          </div>
          <div class="flex justify-between mb-2">
              <span class="text-gray-800">Delivery Tip</span>
              <span class="text-red-500">₹0</span>
          </div>
          <div class="flex justify-between mb-2">
              <span class="text-gray-800">Platform fee <i class="fas fa-info-circle text-gray-500"></i></span>
              <span class="text-gray-800">₹0</span>
          </div>
          <div class="flex justify-between mb-4">
              <span class="text-gray-800">GST and Restaurant Charges <i class="fas fa-info-circle text-gray-500"></i></span>
              <span class="text-gray-800">₹0</span>
          </div>
          <div class="border-t border-gray-200 pt-4">
              <div class="flex justify-between">
                  <button (click)="placeOrder()" class="text-white font-bold bg-gray-500 rounded-l-full rounded-r-full py-2 px-6">PAY</button>
                  <span class="text-gray-800 font-bold">₹{{totalPrice}}</span>
              </div>
          </div>
      </div>
  </div>
</div>
</div>